<div class="container" style="text-align: left;" *ngIf="!showFinalizacion">
    <h2>Borrando Tecnologia</h2>

    <form [formGroup]="form" (ngSubmit)="onEnviar($event)">

    <div class="mb-3">
      <label for="nombre" class="form-label">Tecnologia</label>
      <input type="nombre" readonly formControlName="tecnologia" 
      class="form-control" id="nombre"  >
      <div id="nombre" class="form-text"></div>
    </div>

    <div class="mb-3">
      <label for="" class="form-label">Nivel</label>
      <input type="" class="form-control" id="apellido" readonly formControlName="nivel" >
    </div>

    <button type="submit" class="btn btn-primary">Borrar</button>
    <button type="button" class="btn btn-danger" (click)="finalizar()">Cancelar Borrado </button>
  </form>
</div>
<div class="card"*ngIf="showFinalizacion" style="background-color: white!important;">
  <h5 class="card-header" >Borrado</h5>
  <div class="card-body">
    <h5 class="card-title">El borrado fue realizad0 correctamente!!</h5>

    <button class="btn btn-primary" (click)="finalizar()" >Finalizar</button>
  </div>
</div>
