<div class="container">
	<h1>Iniciar Sesión</h1>
	<form [formGroup]="form" (ngSubmit)="onEnviar($event)">
	  <div class="mb-3">
	    <label for="exampleInputEmail1" class="form-label">Nombre de Usuario</label>
	    <input type="email" formControlName="username" 
	    [ngClass]="{'is-invalid': Usuario?.errors && Usuario?.touched, 'is-valid': !Usuario?.errors && Usuario?.touched}"
	    class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
	    >
	    <div *ngIf="Usuario?.errors && Usuario?.touched">
	    	<p *ngIf="Usuario?.hasError('required')" class="text-danger">
	    		El usuario es requerido
			</p>
	    </div>
	  </div>
	  <div class="mb-3">
	    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
	    <input type="password" formControlName="password" 
	    [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}"
	    class="form-control" id="exampleInputPassword1">
	    <div *ngIf="Password?.errors && Password?.touched">
	    	<p *ngIf="Password?.hasError('required')" class="text-danger">
	    		La contraseña es requerida
	    	</p>
	    	<p *ngIf="Password?.hasError?.('minlength')" class="text-danger">
	    		La contraseña debe ser de 8 o mas caracteres
	    	</p>
	    </div>
		<div *ngIf="!logueado" >
			<p class="text-danger">
				Usuario o contraseña incorrectos. Por favor intente nuevamente.
			</p>
		</div>	    
	  </div>
	  <h2 style="color:green" *ngIf="loginMsj"> Iniciando sesion, por favor aguarde unos instantes..</h2>
	  <button type="submit" class="btn btn-primary">Ingresar</button>
	</form>
</div>