<section id="proyectos">
        
    <div class="row">

        <div class="col-md-4 col-0"></div>

        <div class="col-md-8 col-0">
            <h2>Proyectos</h2>
            <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="https://lithium.com.ar/storage/lilogum.png" class="card-img" alt="Lithium Logo"
                      style="max-height: 80px;width:auto;position: relative;
                      top: 50%;
                      transform: translateY(-50%);"
                      >
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">lithium.com.ar</h5>
                        <p class="card-text">Sitio e-commerce utilizando MercadoPago para realizar ventas. 
                          Desarrollado con Laravel (php FrameWork), HTML, CSS y JS, utilizando Mysql para base de datos. 
                          Contiene un sistema de acceso restringido para poder realizar carga, modificacion y eliminacion de registros.
                        </p>
                        <a href="https://lithium.com.ar" class="btn btn-dark" target="_blank" style="font-size:large;"> 
                          
                          Visitar sitio!  <img src="assets/eyew.png" height="20px" alt="Visitar sitio"></a>

                        <p class="card-text"><small class="text-muted"></small></p>
                      </div>
                    </div>
                  </div>
            </div>


        </div>
    </div>			
</section>	
